body{
  background-color: #0c2966;
}
.App {
  position:relative;
  top: 120px;
  text-align: center;
  color: white;
  margin: auto;
}

ul.char-styling li {
  display: inline-block; 
  background-color: #fff;
  padding: 16px;
  float:left;
  text-align: center;
  font-weight: 800;
  margin: 10px;
  color: rgb(9, 7, 121);
  border-radius: 16px;
  border: 4px solid rgb(174, 141, 226);
}

.char-container{
  margin: auto;
  background-color: teal;
}